html, body {
  height: 100%;
  font-family: 'Inconsolata', monospace !important;
  margin: 0;
}

html, body, a {
  -webkit-transition: background-color 0.25s, color 0.125s;
  -moz-transition:    background-color 0.25s, color 0.125s;
  -ms-transition:     background-color 0.25s, color 0.125s;
  -o-transition:      background-color 0.25s, color 0.125s;
  transition:         background-color 0.25s, color 0.125s;
}

main {
  display: flex;
  justify-content: safe center;
  align-items: safe center;

  height: 100%;
  width: 95%;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin: 0;
  
  font-size: 25px;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin: 0;

  font-size: 17px;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

h3 {
  margin: 0;

  font-size: 14px;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

#toggle img {
  max-width: 450px;
  max-height: 350px;
  margin: 10px 0;
  width: 100%;
}

ul#links {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
}

li#links {
  margin: 3px 0;
}

#container {
  width: 100%;
  margin: auto;
  text-align: left;
}

#text {
  margin: 5px;
  padding: 5px 10px;
  max-height: 780px;
  overflow-y: auto;
  word-break: break-word;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-left: 0;
  user-select: text;
  -webkit-user-select: text;
}

footer {
  -webkit-text-size-adjust: none;
  text-align: center;
}
